.filters {
  margin: 20px;
}

.formRow {
  display: flex;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.select {
  margin-top: 5px;
  padding: 5px;
}

.buttonFilter {
  margin-top: 1.7%;
  width: 3%;
  height: 5%;
  padding: 5px;
  background-color: #fe5535;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.buttonFilter:hover {
  background-color: #d43535;
}

.button {
  margin-top: 20px;
  padding: 10px;
  background-color: #fe5535;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #d43535;
}

@media (max-width: 1366px) { 
  .buttonFilter {
    margin-top: 2.9%;
    width: 4%;
    height: 5%;
    padding: 4px;
    background-color: #fe5535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .buttonFilter:hover {
    background-color: #d43535;
  }
}
  