.image {
  display: flex;
  justify-content: center;
  margin-top: 40%;
  margin-bottom: 40%;
  margin-left: 220%;
  max-width: 200px;
  
}

.containerCards{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.CardDogs {
display: grid;
grid-template-columns: repeat(5, 2fr);
gap: 20px;
}

@media screen and (max-width: 1600px) {
.CardDogs {
  grid-template-columns: repeat(4, 2fr);
}
}

.name {
text-decoration: none;
color: rgb(0, 0, 0);
}