.huella {
  position: fixed;
  top: 85%;
  left: 85%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../assets/perroAcostadosvg.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  pointer-events: none;
}

.image {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  max-width: 200px;
}

.containerCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -17%;
}

.CardDogs {
  margin-top: 2rem;
display: grid;
grid-template-columns: repeat(5, 2fr);
gap: 20px;
}

@media screen and (max-width: 1600px) {
.CardDogs {
  grid-template-columns: repeat(4, 2fr);
}
.containerCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -23%;
}

.huella {
  position: fixed;
  top: 90%;
  left: 87%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../../assets/perroAcostadosvg.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  pointer-events: none;
}

}

.name {
text-decoration: none;
color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .CardDogs {
    grid-template-columns: repeat(1, 2fr);
  }
  }