.container {
    width: 99.9vw;
    height: 100vh;
    background-color: #fff29a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .customloader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#827700);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 0.5s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}

  .container2 {
    width: 40vw;
    height: 30vh;
    background-color: #f1da43;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .form{
    margin-top: 4.5rem;  
  }

  .button {
    /* width: 14%; */
    padding: 8px;
    background-color: #fe5535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .button:hover {
    background-color: #d43535;
  }

  .input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    margin-right: 10px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

  .input2 {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input2:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input2:active {
    transform: scale(0.95);
  }
  
  .input2:focus {
    border: 2px solid grey;
  }

  .message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #fae243ed;
    color: #212529;
    border: 1px solid #ffc107;
    border-radius: 5px;
    width: 400px;
  }