/* LandingPage.module.css */

.container {
  height: 100vh;
  background-image: url("../../assets/Fondolanding.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 80%;
  max-width: 400px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #eee;
  font-size: 1.2rem;
  color: #333;
}

.register input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0077ff;
}

.error_name,
.error_email,
.error_password {
  margin: 0;
  font-size: 1.2rem;
  color: #ff0044;
}

.customloader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0077ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
