*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
 
.img {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
/* body{
  background: #f1f1f1;
} */
 
.container{
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.loginContainer{
  z-index: 1;
  display: flex;
  width: 650px;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}
 
.register, .login{
  flex: 1;
}
 
.register{
  padding: 40px;
  position: relative;
}
 
.register h2{
  color: #797979;
  margin-bottom: 30px;
}
 
.register input{
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}
 
.register input:active,
.register input:focus{
  outline: none;
}
 
.register .submit{
  width: auto;
  padding: 10px;
  background: #f17108;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}
 
 
.login{
  z-index: 1;
  background-image: linear-gradient(to bottom right, #fbd69d, #ffffff);
  padding: 40px;
}
 
.login h2{
  color: #797979;
  margin-bottom: 45px;
}
 
.login button i{
  position: absolute;
  top: 12px; 
  left: 12px;
}
 
.login button{
  width: 100%;
  margin: 30px 0px;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  position: relative;
}
 
.login .fb{
  background: #f17108;
  border-style: none;
  color: #fff;
}
 
.login .google{
  background: #f17108;
  border-style: none;
  color: #fff;
}
 
.login .correo{
  background: #33d4ce;
  border-style: none;
  color: #fff;
}
 
@media only screen and (max-width: 540px){
  .login-container{
    display: block;
  }
 
  .register, .login{
    flex: none;
  }

  .register::after{
    top: unset;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}

.showPasswordButton {
  position: absolute;
  top: 54%;
  right: 1rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #aaa;
}

.showPasswordButton2 {
  position: absolute;
  top: 68%;
  right: 1rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #aaa;
}

