 /* .container {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: flex-start; 
} 

 .userContainer {
  margin-right: 20px;
  margin-left: 1rem;
  margin-top: 2rem;
  display: inline-block;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff29a;
  vertical-align: top; }  


.info {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
} 

 .userButtons {
  display: flex;
} 

 .red {
  background-color: red;
  border-radius: 3px;
} 

 .green {
  background-color: green;
  border-radius: 3px; }


 .banned {
  color: red;
}  */


/* NUEVOS ESTILOS */ 


.packContainer {
  position: relative;
  
  max-width: 350px;
  border-radius: 12px;
  background-color: #212121;
  border: 1px solid #fff;
  padding: 1.6rem;
  color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-right: 20px;
  margin-left: 1rem;
  margin-top: 2rem;
  display: inline-block;
  width: 20%;
  padding: 10px;
  vertical-align: top;
}

.header {
  position: relative;
  margin: 0;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding-bottom: 1rem;
  text-align: center;
}

.title {
  display: block;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #fff
}

.priceContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-family: sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}

.priceContainer span:first-child {
  margin-top: 10px;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.priceContainer span:last-child {
  align-self: flex-end;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  display: flex;
align-items: center;
gap: 10px;

}

.span {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(255, 255, 255, 0.185);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  margin-top: -6%;
}

.svg {
  height: 12px;
  width: 12px;
  
}

.p {
  display: block;
  font-family: sans-serif;
}

.buttonContainer {
  margin-top: 20px;
  padding: 0;
}

.buttonContainer button {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #000;
  outline: 0;
  border: 0;
  border-radius: 10px;
}


