.container {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: flex-start; 
} 

 .userContainer {
  margin-right: 20px;
  margin-left: 1rem;
  margin-top: 2rem;
  display: inline-block;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff29a;
  vertical-align: top; }  


.info {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
} 

 .userButtons {
  display: flex;
} 

 .red {
  background-color: red;
  border-radius: 3px;
} 

 .green {
  background-color: green;
  border-radius: 3px; }


 .banned {
  color: red;
}  

  