.containerGeneral {
  background: url('../../Assets/paw.svg');
  background-repeat: no-repeat;
  background-size: 19%;
}

.article {
  width: 200px;
  cursor: pointer;
  padding: 15px;
  margin: 0 auto;
  transition: all .3s;
}

.articles {
  width: 100px;
  display: grid;
  justify-content: center;
  margin-left: 100px;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-gap: 50px;
  margin: 0 auto;
}

.shop h1 {
  display: flex;
  justify-content: center;
}

