.containerGeneral {
  width: 100%;
  height: 100%;
}

.huella {
  background: url('../../Assets/paw.svg');
  background-repeat: no-repeat;
  background-size: 20%;
}


.articles {
  width: 100px;
  display: grid;
  justify-content: center;
  margin-left: 100px;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-gap: 50px;
  margin: 0 auto;
}

.shop h1 {
  display: flex;
  justify-content: center;
}

