.container{
    display: flex;
    justify-content: center;
}

.img{
    max-width: 150px;
}

.button {
    padding: 0.50rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #f17108;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }