.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 85vh;
}

.carritoVacio{
margin-top: 5rem;
background-color: rgba(9, 10, 10, 0.151);
border-radius: 10px;
height:min-content;
}

.carritoLleno{
background-color: rgba(128, 128, 128, 0.603);
border-radius: 1rem;
margin-left: 30rem;
margin-top: 4rem;
}

.Comprar{
    margin-left: 20rem;
}

.img{
    max-width: 150px;
    border: solid 1px;
    border-radius: 1rem;
}

.buttonElegir{
    margin-left: 12rem;
}

.button {
    margin-left: 2rem;
    padding: 0.50rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #f17108;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }

