.container {
    width: 99.9vw;
    height: 102vh;
    overflow: hidden;
    }
.customloader {
  width:50px;
  height:50px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#827700);
 -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
   mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
   animation:s3 0.5s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}
.wallet {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: black;
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.containerh5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff29a;
  max-width: 50vw;
  border: 1px solid black; 
  box-sizing: border-box;
  background-clip: padding-box;
  margin: 0 auto; /*centrar horizontalmente*/
}

.h5 {
  max-width: 100%;
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 20px;
  padding: 10px;
}



.hide {
    display: none;
}

.donacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    width: 14%;
    height: 40px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid rgb(129, 129, 129);
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

  .h2{
    margin-left: 40rem;
    margin-top: 3rem;
  }

  .button {
    padding: 0.5rem 1rem;
    background-color: #fe5535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #d43535;
  }

  .h4{
    font-size: 40px;
    margin-top: 2%;
  }

  .hide{
    display: none;
  }
  
  .hide2 {
      border: 1px solid black;
      background-color: #fae243ed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30%;
      width: 30%;
      position: fixed;
      top: 30%;
      left: 35%;
  }
  
  .buttonX {
      position: absolute;
      top: 10%;
      right: 5%;
      transform: translate(50%, -50%);
      padding: 1%;
      border: 1px solid #cccccc;
      border-radius: 0.25rem;
      background-color: #fe5735;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      width: 6%;
      height: 12%;
  }

  .h4 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .img {
    width: 20%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
 