.containerAll {
  padding: 0;
  box-sizing: border-box;
  background-color: #fff29a;
  height: 87vh;
}

.container {
  font-family: 'Nunito', sans-serif;
  padding: 0 20px;
}

.cardContainer{
display: flex;
align-items: center;
}

.name{
  margin-left: 15rem;
  margin-top: 1rem;
}

.imagen{
 --size:380px;
 width: var(--size);
 height: var(--size);
 border-radius: 50%;
 margin-top: 4rem;
 margin-left: 6rem;
 border:  6px solid rgb(245, 150, 150);
}

.imagen:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);
}

.description{
  border-radius: 1rem;
  width: 45%;
  display: flex;
  align-items: start;
  padding: 1rem;
  justify-content: start;
  flex-direction: column;
  margin-left: 40rem;
  margin-top: -23rem;
  background-color: #f3df5d;
  border: solid 2px #f1d72c;
}

.adoptame {
display:inline-block;
justify-content: center;
width: 45%;
margin: 5px;
margin-left: 41rem;
}

.button{
  background-color: #fe5535;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 1rem;
}

.button:hover{
  background-color: #d13d1f;
}