.containerAll {
  margin-top: -1.7rem;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff29a;
}

.huella {
  z-index: 1;
  background: url('../../Assets/paw.svg');
  background-size: 10%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: 0 20px;
  margin-top: 2%;
}

.cardContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  width: 600px;
  height: auto;
  background: #fce301c5;
  border-radius: 8px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.637);
}

.header {
  padding: 20px;
 text-align: center;
}

.description {
  position: relative;
  width: 600px;
  background: #ecc22aa1;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.637);
}

.header a {
  position: relative;
  display: block;
}

.header img {
  border-radius: 0.7%;
  box-shadow: 0 0 0 8px #bd40374d;
  margin: 20px 30px;
  transition: .2s;
}

.header a:hover img {
  box-shadow: 0 0 0 12px #bd4037ce;
}

.header h2 {
  font-size: 45px;
  color: #d43535;
}

.description span {
  display: flex;
  margin: 20px 30px;
  
}

.button {
  width: 46%;
  padding: 0.50rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #fe5535;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 20px;
}

.button:hover {
  background-color: #d43535;
}

.detalleBackground{
    min-height: 100vh;
    min-height: 100vh;
    height: 90%;
    width: 95%;
   
}
.Detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(68, 32, 32, 0.541);
    padding: 30px;
    background-color: #fae243;
    width: 50%;
    margin: 0 auto;
    margin-right: 260px;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background-color: rgb(87, 52, 29);
    margin-top: 20px;
  }
  .stats span {
    margin-bottom: 10px;
    font-size: 18px;
   
  }
  .imagen {
    width: 300px;
    height: 250px;
  }
  .adoptame{
    text-decoration: none;
    color: black;
  }

  .reference{
  background-color: #f8fc0486;
    border: 3px solid #f8fc04;
    width: 50%;
    border-radius: 6px;
  }

@media (max-width:640px){
  .cardContainer{
    display: block;
    border: 0;
  }
}