/* .darkMode {
    background-color: #1a1a1a;
    color: #ffffff;
  } */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .logoutButton {
    margin-top: 16px;
  }