.container{
    text-align: center;
    width: 100vw;
    height: 85vh;
}

.title{
    font-size: 52px;
}

.text{
    font-size: 26px;
    text-align: left;
    margin-left: 0.5rem;
    margin-top: 2.5rem;
}