.nav {
  background-color: #fae243;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: auto;
  }
}
.nav img {
    border-radius: 5px;
    max-width: 100%;
    height: 90px;
}

.userIcon {
  display: inline-block;
  color: black;
  font-size: 45px;
  margin-left: 40px;
  margin-top: 2px;
}

.fa-user:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 24px;
}

.cartIcon {
  position: relative;
  display: inline-block;
  color: black;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 10px;
}


.cartIcon .itemCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #d43535;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.fa-shopping-cart:before {
  content: "\f07a";
  font-family: FontAwesome;
  font-size: 24px;
}

.normalButton {
  margin: 10px;
  padding: 1rem;
  border: none;
  border-radius: none;
  background-color: transparent;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 3px solid #cb2c2c;
  border-left: none;
  border-right: none;
  border-top: none;
}

.selectedButton {
  margin: 10px;
  padding: 1rem;
  border: none;
  border-radius: none;
  background-color: transparent;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  border-bottom: 3px solid #210707;
  border-left: none;
  border-right: none;
  border-top: none;
}
#carrLogo {
    max-width: 40px;
}