.container {
  width: 98.9vw;
  height: 85.8vh;
  background-color: #fff29a;
  overflow: hidden;
  }


.title {
  margin-top: 3rem;
  text-align: center;
  font-size: 52px;
}

.img_Container {
  display: flex;
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
}

.img {
  width: 50%;
  height: auto;
  max-width: 35%;
}

.iconsContainer {
 position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #fae243;
  padding: 0.4rem;
}

.icons {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}

.follow {
  text-align: center;
}



.slideshow {
  display: flex;
  height: 18rem;
  gap: 1rem;
}

.sliderImg {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(.25, .4, .45, 1.4);
}

.sliderImg:hover {
  flex: 5;
  transform: scale(1.1);
}
