.container{
    width: 100vw;
    height: 100vh;
}

.title{
    text-align: center;
    font-size: 52px;
}

.img_Container{
    text-align: center;   
    margin-top: 6rem;
}

.img{
    width: 50%;
    height: auto;
    max-width: 35%;
}
 
.iconsContainer{
    display: flex;
    justify-content:left;
    margin-top: 2.8rem;
    width: 99.9%;
    border-radius: 6px;
    background-color: #00000021;
    padding: 0.4rem;
} 
  
.icons{
    display: flex;
    gap: 0.6rem;
    margin-left: 0.5rem;
}  

.follow{
    margin-left: 0.5rem;
}
