.fondo {
  width: 99.1vw;
  height: 99vh;
background-color: #cccccc42;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customloader {
  width:50px;
  height:50px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#827700);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 0.5s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}

.formulario {
  background-image: linear-gradient(to bottom right, #f8dc6de3, #e4a83a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 3px solid #e4a83a;
  border-radius: 0.5rem;
  background-size: cover;
  backdrop-filter: blur(5px);
  width: 40vw;
}


.formulario label {
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="tel"],
.formulario input[type="email"],
.formulario textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #bb9715d8;
  border-radius: 0.40rem;
  font-size: 1rem;
}
.formulario input:hover{
  background-color: #e9e3bba9;
  border: 1px solid;
}

.formulario select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #bb9715;
  border-radius: 0.40rem;
  font-size: 1rem;
}

 .check {
  width: 100%;
  text-align: left;
} 

input[type="checkbox"] {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 10px; /* Agregar margen derecho para separar los checkboxes */

  -webkit-appearance: none;
  appearance: none;
  outline: none;
  transition: 0.5s;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar con transform */
  width: 15px;
  height: 15px;
  border: 4px solid #262626;
  box-sizing: border-box;
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  border-left: none;
  border-top: none;
  width: 10px;
  border-color: rgb(24, 196, 24);
  transform: translate(-50%, -50%) rotate(45deg); /* Centrar y rotar */
}

.button {
  padding: 0.50rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #BB9715;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #8b6f08;
}

/* INICIO DE SESIÓN OBLIGATORIO */ 

.containerObligatorio {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
}

.titleObligatorio {
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitleObligatorio {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttonObligatorio {
  background-color: #fe5535;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonObligatorio:hover {
  background-color: #d43535;
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #fae243ed;
  color: #212529;
  border: 1px solid #ffc107;
  border-radius: 5px;
}