.searchBar {
    margin-top: -13%;
    display: flex;
    justify-content: center;
  }

  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 50px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #fae243;
    background-color: #fff;
    /* box-shadow: 0 0 0 4px #BB9715; */
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   @media (max-width: 1366px) {
    .searchBar {
      margin-top: -17%;
      display: flex;
      justify-content: center;
    }
    }
