
.button{
    margin-left: 9rem;
    margin-top: 4.3rem;
    position: absolute;
    padding: 0.50rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: #fe5535;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
}

.button:hover{
  background-color: #d43535;
}

.input {
    margin-left: 49rem;
    width: 20%;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

  .h2{
    font-size: 50px;
    margin-top: 1%;
    margin-left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }