/*Estilos para Administrador*/

.cardArticle2 {
  width: 90%;
  height: 380px;
  margin-top: -4%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgba(206, 201, 201, 0.144);
  border-radius: 10px;
}

.artImage {
  height: 120px;
  width: 50%;
  border-radius: .5rem;
  margin-top: 2%;
}

.buttonEditar {
  margin-top: 2%;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  background-color: #fe5535;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  width: 100px;
  margin-right: 5%;
}

.buttonEditar:hover {
  background-color: #d43535;
}

.buttonEliminar {
  margin-top: 15%;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  background-color: #fe5535;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  width: 100px;
}

.buttonEliminar:hover {
  background-color: #d43535;
}


/*Estilos para tienda*/

.card {
  background-color: #f0e40928;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: start;
  width: 240px;
  height: 390px;
  padding: .8em;
  position: relative;
  overflow: visible;
  border-radius: 2%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .3s ease;
 }
 
 .cardImg {
  height: 140px;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
 }
 
 .cardInfo {
  padding-top: 10%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }

 
 .cardFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .textTitle {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 1%;
 }
 
 .textBody {
  font-size: .9em;
  padding-bottom: 10px;
  margin-bottom: -5%;
 }
 
 /*Button*/
 .cardButton {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card:hover {
  transform: translateY(-2%);
  box-shadow: #ccc 0px 13px 37px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .cardButton:hover {
  border: 1px solid #ffcaa6;
  background-color: #cb2c2c;
 }

 .containerButtonsmasymenos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 2%;
  padding: 1px;
}

.buttonMenos {
  order: 0; /* cambia el orden del botón "-" */
  background-color: #cb2c2c;
  border: 1px solid #cccccc;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 5px 15px;
}

.span {
  order: 1; /* cambia el orden del span */
}

.buttonMas {
  order: 2; /* cambia el orden del botón "+" */
  background-color: #cb2c2c;
  border: 1px solid #cccccc;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 5px 15px;
}

.buttonMenos:hover,
.buttonMas:hover {
  background-color: #d43535;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d43535;
}
