.container {
    width: 99.9vw;
    height: 100vh;
    background-color: #fff29a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container2{
    background-color: #f1da47b0;
    width: 37%;
    height: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.customloader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#827700);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 0.5s infinite linear;
  }
  
  @keyframes s3 {to{transform: rotate(1turn)}}
  .message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #fae243ed;
    color: #212529;
    border: 1px solid #ffc107;
    border-radius: 5px;
    width: 400px;
  }

  .containerButton {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: left;
  }
  
  .button {
    padding: 8px;
    background-color: #fe5535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 6rem;
    margin-top: 1rem;
  }

.button:hover {
    background-color: #d43535;
}

.input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}

.submitButt {
    width: 10%;
    padding: 5px;
    background-color: #fe5535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.submitButt:hover {
    background-color: #d43535;
}